.App {
	text-align: center;
	-webkit-appearance: none;
	--header-red: #e77361;
	--main-yellow: #ffdf9b;
	--hover-yellow: #fcce6d;
	--button-text: #c47460;
	--text-on-yellow: #5a3f2e;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.HomePage {
	background: url(graphics/homepageBackground.svg);
	background-size: contain;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 12vmin);
	font-weight: 200;
	color: white;
}

.HomePage-header {
	width: 100%;
	height: 26vh;
	background-color: var(--header-red);
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 2vh;
}

.HomePage-header-title {
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
}

.graph-buttons {
	width: 100vw;
	height: 36vh;
	display: table;
	border-spacing: 7vw 4vh;
}

.GraphButton {
	mix-blend-mode: multiply;
	display: table-cell;
	overflow: hidden;
}

.GraphButton-image {
	height: 70%;
	width: 100%;
	overflow: hidden;
	/* display: inline-block; */
	/* border-spacing: 0 0; */
}

.ButtonContents {
	/* display: inline; */
	/* border-spacing: 0 0; */
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.GraphButton-title {
	height: auto;
	width: 100%;
	padding: 5px;
	color: var(--button-text);

	background: var(--main-yellow);
	font-weight: 300;
	font-size: calc(5px + 30%);
}

.GraphButton:hover,
.GraphButton:focus {
	cursor: pointer;
	mix-blend-mode: normal;
}

.GraphPage {
	min-height: 100vh;
	width: 100%;
	color: white;
}

.GraphPage-header {
	width: 100%;
	height: 8vh;
	background-color: #e77361;
	display: flex;
	flex-direction: row;
}

.GraphPage-header-text {
	margin-right: calc(10px + 1vw);
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding-bottom: 4px;
	font-weight: 200;
	font-size: calc(5px + 4.5vmin);
}

.GraphPage-contents {
	height: 92vh;
	width: 100%;
	display: flex;
}

.graph-container {
	height: 92vh;
	width: 68vw;
	color: #3d261d;
	justify-content: center;
}

.graph-container-sml {
	height: 46vh;
}

.graph-group {
	height: 92vh;
	width: 100%;
}

.graph-info,
.graph-info-container {
	background: var(--main-yellow);
	min-height: 92vh;
}

.graph-info-container {
	background: #ffdf9b80;
	width: 32vw;
}

.graph-info {
	width: 26vw;
}

.back-arrow {
	width: 4vh;
	margin-left: calc(10px + 1vw);
	margin-top: auto;
	margin-bottom: auto;
	float: left;
}

.back-arrow:hover {
	cursor: pointer;
}

.loading {
	font-size: 5vmin;
	font-weight: 200;
	margin-top: 15vh;
}

.interaction-graph-legend {
	margin: 4vmin;
}

.info-header {
	color: var(--text-on-yellow);
	font-size: calc(5px + 3vmin);
	font-weight: 200;
	text-align: left;
	padding: 4vmin;
}

.info {
	color: var(--text-on-yellow);
	font-size: calc(2px + 2vmin);
	line-height: calc(4px + 3vmin);
	text-align: left;
	padding: 0 4vmin;
}

.bold {
	font-weight: bold;
}
